# ========== NODE MODULES ==========
frontend/node_modules/
node_modules/

# ========== ENVIRONMENT VARIABLES ==========
frontend/.env
backend/.env

# ========== UPLOADS ==========
backend/uploads/

# ========== LOG FILES ==========
*.log
npm-debug.log*

# ========== SYSTEM / EDITOR FILES ==========
.DS_Store
Thumbs.db
.vscode/
*.swp